﻿@model Blog4.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
    <div class="display-field">
     <h2>Add Comment</h2>
    </div>
@Html.Partial("_addComment",new Blog4.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateCreated).Take(10))
    {
    <div class="display-field">
        <h2>Cach Day:@Html.DisplayFor(x => comment.LastTime) phút</h2>
    </div>
    
    <div class="display-field">
     Ten: @Html.DisplayFor(x => comment.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(x => comment.Body)
    </div>

    }
</fieldset>
    <div class="display-field">
     <h2>Các tag</h2>
    </div>
<fieldset>
   
    <legend>Tags</legend>
    @foreach (var tag in Model.Tags)  { 
    
    
    <div class="display-field">
        @Html.RouteLink(tag.Content, new { Controller = "Tag", Action = "Details",id=tag.TagID })       
              
    </div>
   
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
