﻿@model ViecLam.Models.DangViecLam

@{
    ViewBag.Title = "Create";
}

<h2>Thông Tin Đăng Ký</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DangViecLam</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenViecLam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenViecLam)
            @Html.ValidationMessageFor(model => model.TenViecLam)
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.TheLoaiID, "TheLoai")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TheLoaiID", String.Empty)
            @Html.ValidationMessageFor(model => model.TheLoaiID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NganhID, "Nganh")
        </div>
        <div class="editor-field">
            @Html.DropDownList("NganhID", String.Empty)
            @Html.ValidationMessageFor(model => model.NganhID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>       
        

        <p>
            <input type="submit" value="Đăng Tin" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
