﻿@model ViecLam.Models.DangViecLam

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DangViecLam</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenViecLam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenViecLam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TheLoai.TenTL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TheLoai.TenTL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nganh.TenNganh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nganh.TenNganh)
    </div>

   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
