﻿@model ViecLam.Models.DangViecLam

@{
    ViewBag.Title = "Details";
}

<h2>Thông Tin Việc Làm</h2>

<fieldset>
    <legend>DangViecLam</legend>

    <div class="display-label">
         Tên Việc Làm:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenViecLam)
    </div>  
    <div class="display-label">
        <h2>@Html.DisplayNameFor(model => model.NoiDung)</h2>
    </div>
   
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>  
    <div class="display-label">
         Ngành:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nganh.TenNganh)
    </div>
    <div class="display-label">
         Loại Công Việc:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TheLoai.TenTL)
    </div>    
  
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
