﻿@model ViecLam.Models.DangViecLam

<h2>Thông Tin Đăng Ký</h2>

<fieldset>
    <legend>DangViecLam</legend>

    <div class="display-label">
         Tên Việc Làm:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenViecLam)
    </div>  
    <div class="display-label">
        <h2>@Html.DisplayNameFor(model => model.NoiDung)</h2>
    </div>
   
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>  
    <div class="display-label">
         Ngành:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nganh.TenNganh)
    </div>
    <div class="display-label">
         Loại Công Việc:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TheLoai.TenTL)
    </div>    
  
</fieldset>

<h2>Đăng Tin Thành Công</h2>

