﻿@model IEnumerable<ViecLam.Models.DangViecLam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenViecLam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai.TenTL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nganh.TenNganh)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenViecLam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.UserProfileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.TenTL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nganh.TenNganh)
        </td>      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
