﻿@model Blog4.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>
 <div class="display-label">
         <h2>Các Post Liên Quan:</h2> 
   </div>
<fieldset>
    <legend>Post</legend>
     @foreach (var post in Model.Posts)
     {
   
    <div class="display-field">
        @Html.RouteLink(post.Title, new { Controller = "Post", Action = "Details",id=post.ID })       
              
    </div>
     }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
