﻿@model ViecLam.Models.Comment

<div class="display-field">
        Ngày Đăng: @Html.DisplayFor(model => model.NgayDang) 
    </div>        
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>