﻿@model ViecLam.Models.Comment

@using (Html.BeginForm("Create", "Comment",FormMethod.Post, new {id = "my-form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>

        <div class="editor-label">
            Nhập Nội Dung 
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>    
         @Html.ValidationMessageFor(model => model.NoiDung)
    
        @Html.Hidden("idpost",ViewData["idpost"])

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<script src="~/Scripts/addComments.js"></script>
