﻿@model ViecLam.Models.ChiaSeKinhNghiem

@{
    ViewBag.Title = "Details";
}
<table>
    <tr>
        <th>
            Đề Tài: 
        </th>
        <td>

        </td>
        <td>
            @Html.DisplayFor(model => model.ChuDe)
        </td>
    </tr>
</table>
<fieldset>
    <legend></legend>
<table>
    <tr>
       
            
        
        <td>
           Ngày Đăng: @Html.DisplayFor(model => model.NgayDang)
        </td>
    </tr>
</table>
</fieldset>
<table>
    <tr>
        
        
            @Html.DisplayFor(model => model.NoiDung)
       
    </tr>
</table>

  
<table>
    <div class="display-field">
     <h2>Comment</h2>
   </div>
    <tr>
        <td>

<fieldset>
  
    <legend>Comment</legend>     
    <div id="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x=>x.NgayDang).Take(10))
    {
        <table>
            <tr>       
    <div class="display-field">
        Ngày Đăng: @Html.DisplayFor(x => comment.NgayDang) 
    </div>   
   
    <div class="display-field">
        @Html.DisplayFor(x => comment.NoiDung)
    </div>
                   </tr>
             </table>
    }
    </div>
   
</fieldset>
            </td>
        </tr>
    </table>
<table>
     <div class="display-field">
     <h2>Nhập Comment</h2>
   </div>
    <tr>
      
        <td>
            @Html.Partial("_addComment",new ViecLam.Models.Comment(), ViewData);
        </td>
        Không đăng tải từ ngữ dung tục, vi phạm thuần phong mĩ tục Việt Nam. Không đả kích người khác.                  
        </tr>  

</table>
    

@*<fieldset>
    <legend>ChiaSeKinhNghiem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayDang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayDang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
