﻿@model ViecLam.Models.ChiaSeKinhNghiem

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ChiaSeKinhNghiem</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ChuDe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChuDe)
            @Html.ValidationMessageFor(model => model.ChuDe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayDang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayDang)
            @Html.ValidationMessageFor(model => model.NgayDang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
