﻿@model IEnumerable<ViecLam.Models.ChiaSeKinhNghiem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

   <p>
        @Html.ActionLink("Đăng Bài Mới", "Create") @Html.ActionLink("Hệ Thống Phần Thưởng", "Index","PhanThuong")
   </p>
<table>
    <tr>
                <td>
                    Chia Sẻ Kiến Thức
                </td>            
               
     </tr>
</table>
   <table>
    @foreach (var item in Model)
       {          
            
        <tr>
                <td>
                      @Html.RouteLink(item.ChuDe, new { Controller = "ChiaSeKinhNghiem", Action = "Details",id=item.ID }) 
                      
                </td>
                <td>

                </td>
                <td>
                    Ngày Đăng:@Html.DisplayFor(modelItem => item.NgayDang)
                </td>
        </tr>
        
        }
   </table>
 

@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
