﻿@model ViecLam.Models.TheLoai

@{
    ViewBag.Title = "Details";
}

<h2>Danh Sách Việc Làm</h2>


<fieldset>
   
    <legend>ViecLam</legend>
    
    @foreach (var x in Model.DangViecLams)  { 
    
   <h2></h2>
   
       <div>
        @Html.RouteLink(x.TenViecLam, new { Controller = "DangViecLam", Action = "Details", id = x.ID })   
       </div>        
        <div>
            Ngày Đăng: @Html.DisplayFor(model=>x.NgayDang)
        </div>        
      
      
   
    }
   
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
